/.metadata/
AdrianTest/.classpath
AdrianTest/.settings/org.eclipse.jdt.core.prefs
TestExport/Sphinx5-maven-example/.classpath
TestExport/Sphinx5-maven-example/.settings/org.eclipse.jdt.core.prefs
TestExport/Sphinx5-maven-example/.classpath
