/.metadata/
AdrianTest/.classpath
AdrianTest/.settings/org.eclipse.jdt.core.prefs
TestExport/Sphinx5-maven-example/.classpath
TestExport/Sphinx5-maven-example/.settings/org.eclipse.jdt.core.prefs
TestExport/Sphinx5-maven-example/.classpath
KinzelmannDaniel/saplexa_application/.classpath
KinzelmannDaniel/saplexa_application/.settings/org.eclipse.jdt.core.prefs
KinzelmannDaniel/saplexa_application/.classpath
KinzelmannDaniel/saplexa_application/.settings/org.eclipse.jdt.core.prefs
CavallaroAngelo/11.05. 2019 SAP GUI including Sphinx/SAPlexaSPHINX/.settings/org.eclipse.jdt.core.prefs
CavallaroAngelo/11.05. 2019 SAP GUI including Sphinx/SAPlexaSPHINX/.classpath
CavallaroAngelo/10.29. 2019 SAP GUI/SAPlexa/.classpath
